<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>接口--编写</title>
</head>
<body>
	<h1>接口编写页面</h1>
	<form>
		<div>
			<label>接口名</label>
			<input type="text" />
		</div>
		<div>
			<label>参数</label>
			<input type="text" />
		</div>
		<div>
			<label>测试例子</label>
			<input type="text" />
		</div>
		<div>
			<input type="submit" value="提 交"/>
		</div>
	</form>
	<iframe frameborder="no" border="0" marginwidth="0" marginheight="0" width=330 height=86 src="http://music.163.com/outchain/player?type=2&id=27867484&auto=1&height=66"></iframe>
</body>
<!--公共的尾部信息-->
{{include './public/header'}}
<!--该页面所需的配置信息-->
<script type="text/javascript" src="{{statics}}/js/interface/config.js"></script>
</html>