<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0"/>
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="format-detection" content="telephone=no">
	<title>2016年度活动总览</title>
	<link type="text/css" rel="stylesheet" href="{{statics}}/css/demos/demo.css">
	<link type="text/css" rel="stylesheet" href="{{statics}}/css/demos/empty.css">
	<link type="text/css" rel="stylesheet" href="{{statics}}/css/demos/reset.css">
	<link type="text/css" rel="stylesheet" href="{{statics}}/css/demos/head.css">
</head>
<body>
<div class="s_top">
	<header id="uiHead" class="ui-head">
		<div class="ui-head-in">
			<div class="ui-head-l">
				<span class="ui-head-btn1" id="hd_return" onclick="window.history.go(-1);">返回</span>
			</div>
			<div class="ui-head-m">
				<h2 class="ui-head-tit">活动专区</h2>
			</div>
			<div class="ui-head-r">
	            <span class="ui-head-btn4">筛选</span>
	        </div>
		</div>
	</header>
</div>
<!--header e-->
<!-- <div class="huodong-banner">
	<img src="/static/huodong/logo/touch_logo_459.jpg">
</div> -->
<!--banner e-->

<section class="huodong-section">
	<ul class="huodong-list">
		<li class="huodong-item">
			<a href="/activity/2016/wuyi">
				<h2 class="huodong-item-tit">五一节日活动</h2>
				<p></p>
				<p class="huodong-item-time">创建周期: 04-08至04-29</p>
			</a>
		</li>
		<li class="huodong-item">
			<a href="">
				<h2 class="huodong-item-tit">2015</h2>
				<p></p>
				<p class="huodong-item-time">创建周期: 04-06至04-06</p>
			</a>
		</li>
	</ul>
	<!-- <div class="huodong-page-btn">点击查看更多</div> -->

</section>
</body>
</html>