<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	    <meta name="viewport" content="initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0"/>
	    <meta http-equiv="cache-control" content="max-age=720">
	    <meta name="apple-mobile-web-app-capable" content="yes">
	    <meta name="apple-mobile-web-app-status-bar-style" content="black">
	    <meta name="format-detection" content="telephone=no">
	    <meta name="Keywords" content="drcos,框架"/>
	    <meta name="Description" content="drcos尝试改进支持移动端">
		<title>drcosJS移动端页面改进</title>
		<style type="text/css">
			.username{
				margin-bottom: 10px;
			}
			.password{
				margin-bottom: 10px;
			}
		</style>
	</head>
	<body>
		<!-- 登录部分 -->
		{{include './inc/login'}}
	</body>
	<script type="text/javascript" src="{{statics}}/js/public/zepto.js"></script>
	<script type="text/javascript" src="{{statics}}/js/public/fastclick.js"></script>
	<script type="text/javascript" src="{{statics}}/js/public/drcos.js"></script>
	<script type="text/javascript" src="{{statics}}/js/demos/drcos/drcos.js"></script>
</html>