<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	    <meta name="viewport" content="initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0"/>
	    <meta http-equiv="cache-control" content="max-age=720">
	    <meta name="apple-mobile-web-app-capable" content="yes">
	    <meta name="apple-mobile-web-app-status-bar-style" content="black">
	    <meta name="format-detection" content="telephone=no">
	    <meta name="Keywords" content="drcos,框架"/>
	    <meta name="Description" content="drcos尝试改进支持移动端">
		<title>drcosJS移动端页面改进</title>
	</head>
	<body>
		<application drunk-index="/home/4433">
			<home-page drunk-route="/home/:matchid"></home-page>
			<sub-page1 drunk-route="/subpage1"></sub-page1>
	    </application>
	</body>
	<script type="text/javascript" src="{{statics}}/js/public/drunk.application.js"></script>
	<script type="text/javascript" src="{{statics}}/js/demos/drunk/drunk.js"></script>
</html>