<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0"/>
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="format-detection" content="telephone=no">
	<title>移动端例子学习</title>
	<link type="text/css" rel="stylesheet" href="{{statics}}/css/demos/demo.css">
	<link type="text/css" rel="stylesheet" href="{{statics}}/css/demos/empty.css">
	<link type="text/css" rel="stylesheet" href="{{statics}}/css/demos/reset.css">
	<link type="text/css" rel="stylesheet" href="{{statics}}/css/demos/head.css">
</head>
<body>
<div class="s_top">
	<header id="uiHead" class="ui-head">
		<div class="ui-head-in">
			<div class="ui-head-l">
				<span class="ui-head-btn1" id="hd_return" onclick="window.history.go(-1);">返回</span>
			</div>
			<div class="ui-head-m">
				<h2 class="ui-head-tit">例子专区</h2>
			</div>
			<div class="ui-head-r">
	            <span class="ui-head-btn4">筛选</span>
	        </div>
		</div>
	</header>
</div>
<!--header e-->
<!-- <div class="huodong-banner">
	<img src="/static/huodong/logo/touch_logo_459.jpg">
</div> -->
<!--banner e-->

<section class="huodong-section">
	<ul class="huodong-list">
		<li class="huodong-item">
			<a href="/demos/mobile/react">
				<h2 class="huodong-item-tit">React例子</h2>
				<p></p>
				<p class="huodong-item-time">创建周期: 04-06至04->..</p>
			</a>
		</li>
		<li class="huodong-item">
			<a href="">
				<h2 class="huodong-item-tit">egret游戏例子</h2>
				<p></p>
				<p class="huodong-item-time">创建周期: 03-21至04-21</p>
			</a>
		</li>
		<li class="huodong-item">
			<a href="/demos/mobile/vue">
				<!-- <div class="huodong-item-img">
					<img src="/static/huodong/logo/touch_logo_477.jpg" alt="小羊快跑赢乐豆">
				</div> -->
				<h2 class="huodong-item-tit">Vue 例子专区</h2>
				<p></p>
				<p class="huodong-item-time">创建周期: 03-25至03-31</p>
			</a>
		</li>
		<li class="huodong-item">
			<a href="">
				<!-- <div class="huodong-item-img">
					<img src="/static/huodong/logo/touch_logo_497.jpg" alt="乐豆兑换德堡金币">
				</div> -->
				<h2 class="huodong-item-tit">乐豆兑换德堡金币</h2>
				<p></p>
				<p class="huodong-item-time">创建周期: 02-23至03-23</p>
			</a>
		</li>
	</ul>
	<!-- <div class="huodong-page-btn">点击查看更多</div> -->

</section>
</body>
</html>